@import "../global/variables";

.header {
  width: 100vw;
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  .header-nav {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

    .nav-link {
      text-decoration: none;
      font-size: 1.3vw;
      color: $black;
      font-weight: 600;
      cursor: pointer;
      transition: 0.1s;
      padding: 10px;
    }

    .nav-link:nth-child(1):hover,
    .nav-link:nth-child(2):hover,
    .nav-link:nth-child(3):hover {
      padding: 10px;
      border-radius: 15px;
      color: $white;
      margin-bottom: 10px;
    }

    .nav-link:nth-child(1):hover {
      background-color: $red;
    }
    .nav-link:nth-child(2):hover {
      background-color: $green;
    }
    .nav-link:nth-child(3):hover {
      background-color: $blue;
    }
  }

  .header-logo {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    .image-logo {
      width: 12%;
      height: auto;
    }
  }

  .header-buttons {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;

    .button {
      text-decoration: none;
      font-size: 1.3vw;
      color: $black;
      font-weight: 600;

      strong {
        font-weight: 800;
      }
    }
  }
}
